$primary: rgb(247, 84, 25);
$sidebar: lightblue;
$maincont: orange;
$font: 2em;

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: $primary;
  height: 100vh;
  font-family: sans-serif;

  h2 {
    font-size: $font;
  }

  header,
  footer {
    height: 10%;
    @include flexcenter;
    color: white;
  }

  .side {
    width: 20%;
    height: 100%;
    background-color: $sidebar;
    @include flexcenter;
    color: $maincont;

    &:hover {
      background-color: palegreen;
      color: white;
    }
  }

  .maincont {
    width: 60%;
    background-color: $maincont;
    @include flexcenter;
    transition: 1s ease-in-out;
    &:hover {
      font-size: 3em;
    }
  }

  .corpo {
    width: 100%;
    height: 80%;
    background-color: orangered;
    display: flex;
  }
}
